dist: xenial
language: cpp
compiler: clang
before_script:
- sudo apt-get update
- sudo apt-get install -y clang
- sudo apt install libgtest-dev -y
- sudo apt install cmake
- sudo apt-get install -y -qq graphviz doxygen
- cd /usr/src/gtest
- sudo cmake .
- sudo make
- sudo cp *.a /usr/lib
- sudo mkdir /usr/local/lib/gtest
- sudo ln -s /usr/lib/libgtest.a /usr/local/lib/gtest/libgtest.a
- sudo ln -s /usr/lib/libgtest_main.a /usr/local/lib/gtest/libgtest_main.a
script:
- cd /home/travis/build/teletajp/print_ip
- cmake .
- cmake --build .
- cmake --build . --target test
- cmake --build . --target package
- doxygen docs/Doxyfile
- ls ./docs
deploy:
- provider: script
  skip_cleanup: true
  script: curl -T print_ip-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb -u teletajp:$BINTRAY_API_KEY "https://api.bintray.com/content/teletajp/otus-cpp/homework/$TRAVIS_BUILD_NUMBER/print_ip-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb;deb_distribution=xenial;deb_component=main;deb_architecture=amd64;publish=1"

- provider: pages
  skip-cleanup: true
  local_dir: docs
  github-token: $GITHUB_TOKEN
  keep-history: true
  verbose: true
  target_branch: master/docs
  on:
    branch: master